bin
obj
.vs
*.user
packages
*.csv
.vs/RabbitAPI/v16/Server/sqlite3/storage.ide-wal
.vs/RabbitAPI/v16/.suo
.vs/RabbitAPI/v16/Server/sqlite3/storage.ide
.vs/RabbitAPI/v16/Server/sqlite3/storage.ide-shm
.vs/RabbitAPI/v16/Server/sqlite3/storage.ide-wal
.pdb
/BackEnd/obj/Debug
logs
.idea
*.json

/OrderBookChecker/trades
/OrderBookChecker/Debug
/ConsoleApp/trades
*.xlsx
*.txt

/BackEnd/VSdoc
*.xml
/VSdoc
/RabbitAPI.sln.vsdoc
/Configs
/ConsoleApp/Configs
/parameters.json
/documentation
/Dispatcher/gui/convert_ui.bat
/Dispatcher/gui/GUI.ui
/Dispatcher/gui/__pycache__
/Dispatcher/__pycache__
/Dispatcher/__pycache__/Dispatcher.cpython-37.pyc
/Dispatcher/__pycache__/Robot.cpython-37.pyc
/Dispatcher/__pycache__/__init__.cpython-37.pyc
/Dispatcher/__pycache__/commands.cpython-37.pyc
*.pyc
/Dispatcher/source/messages/protoc.exe
/Dispatcher/source/messages/proto_convert_client.bat
/Dispatcher/source/messages/proto_convert_server.bat
/OuterDispatcher/gui/convert_ui.bat
/OuterDispatcher/source/messages/protoc.exe
/OuterDispatcher/source/messages/proto_convert_client.bat
/OuterDispatcher/source/messages/proto_convert_server.bat
/WebDispatcherCore3.0/Properties/PublishProfiles
/WebDispatcherD/WebDispatcherD.db
/WebDispatcherD/AppData/TradingData.db
/WebDispatcherD/AppData/WebDispatcherD.db
/WebDispatcherD/AppData/TradingData.db-shm
/WebDispatcherD/AppData/TradingData.db-wal
/WebDispatcherD/AdamsMMTradingData.db
/WebDispatcherD/AppData/WebDispatcherD.db-shm
/WebDispatcherD/AppData/WebDispatcherD.db-wal
/proto_convert.bat
/protoc.exe
/DigitexConnector/EngineAPI/protoc.exe
/DigitexConnector/EngineAPI/proto_convert.bat
/DigitexConnector/EngineAPI/messages-public.proto
